<!-- ----------------- COMIENZA MENÚ SUPERIOR ------------------- -->
<header>
  <nav class="nav-superior">
      <label for="" class="logo">HTML Maker<img src="../src/assets/img/logo.png" alt=""></label>
      <ul>
          <li><a href="#" class="active">Inicio</a></li>
          <li><a href="#" >Archivos</a></li>
          <li><a href="#">Ayuda</a></li>
          <li class="login"><a href="#">Logout</a></li>
      </ul>
      <label id="icon">
          <i class="fa fa-bars" ></i>
      </label>
  </nav>
</header>

<!-- ----------------- COMIENZA MENÚ LATERAL  ------------------- -->
<!--
<div class="area">
  <nav class="main-menu">
      <ul class="ul-menu">
          <li>
              <a href="#" class="a-menu">
                  <i class="fa fa-home fa-2x"></i>
                  <span class="nav-text">
                      Dashboard
                  </span>
              </a>
          </li>
          <li class="has-subnav">
              <a href="#" class="a-menu">
                  <i class="fa fa-laptop fa-2x"></i>
                  <span class="nav-text">
                      Componentes Principales <span class="fa fa-caret-down"></span>
                  </span>
              </a>
              
          </li>
          <li class="submenu">
              <a href="#" class="a-menu">
                  <i class="fa fa-list fa-2x"></i>
                  <span class="nav-text">
                      Figuras <span class="fa fa-caret-down"></span>
                  </span>
              </a>
              
          </li>
          <li>
              <a href="#" class="a-menu">
                  <i class="fa fa-font fa-2x"></i>
                  <span class="nav-text">
                      Texto <span class="fa fa-caret-down"></span>
                  </span>
              </a>
          </li>
          <li>
              <a href="#" class="a-menu">
                  <i class="fa fa-table fa-2x"></i>
                  <span class="nav-text">
                      Imagenes <span class="fa fa-caret-down"></span>
                  </span>
              </a>
              <ul class="children">
                <li href="#" class="li-submenu">
                  <div class="box" cdkDrag>
                    <textarea name="text" id="" class="textarea" placeholder="Texto..."></textarea>
                  </div>
                </li>
                <li href="#">
                  <div class="box" cdkDrag>
                    <textarea name="text" id="" class="textarea" placeholder="Texto..."></textarea>
                  </div>
                </li>
                <li href="#" cdkDropList>
                  <div class="box" cdkDrag>
                    <textarea name="text" id="" class="textarea" placeholder="Texto..."></textarea>
                  </div>
                </li>    
              </ul>
          </li>
          <li>
              <a href="#">
                  <i class="fa fa-map-marker fa-2x"></i>
                  <span class="nav-text">
                      
                  </span>
              </a>
          </li>
      </ul>
  </nav>
</div>--> 

<!-- ----------------- COMIENZA LOS BOTONES ARRASTRABLES ------------------- -->
<div class="contenedor-objetos" id="zonaDibujo" cdkDropList>
  <!-- <div class="box" cdkDrag>
    
  </div> 
<button type="button" (click)="descargar()" ></button>-->
</div>

<!-- --------------------- COMIENZA EJEMPLO ENTRE LISTAS ---------------------- -->
<div class="example-container" >
  <h2>Dashboard</h2>
  <textarea name="" id="input-boton" placeholder="Barra de Menú" width="300"
  height="500" cdkDrag></textarea>

  <div class="box" id="prueba" style="width:100; background:#008000;" cdkDrag>
    <form action="">
    <input type="text" name="" id="input-menu-1"  #input1 cdkDragBoundary=".example-container" (input)="guardarTexto($event)" >
    <button type="submit" id="boton-aceptar" (click)="guardar()">Aceptar</button>
    </form>
    {{ texto }}
  </div>
  <br>
{{ menu }}
  
</div>

<!-- --------------------- COMIENZA EJEMPLO REDIMENCION OBJETO ---------------------- -->
<div
    class="rectangle"
    [ngStyle]="style"
    mwlResizable
    [validateResize]="validate"
    [enableGhostResize]="true"
    [resizeSnapGrid]="{ left: 1, right: 1 }"
    (resizeEnd)="onResizeEnd($event)"
    cdkDrag
  >
    <input type="text" name="
    " id="" placeholder="Angular Resizable Element" >
    <div
      class="resize-handle-top"
      mwlResizeHandle
      [resizeEdges]="{ top: true }"
    ></div>
    <div
      class="resize-handle-left"
      mwlResizeHandle
      [resizeEdges]="{ left: true }"
    ></div>
    <div
      class="resize-handle-right"
      mwlResizeHandle
      [resizeEdges]="{ right: true }"
    ></div>
    <div
      class="resize-handle-bottom"
      mwlResizeHandle
      [resizeEdges]="{ bottom: true }"
    ></div>
  </div>
